<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="utf-8">
    <title>Gestión de Inventario</title>
    <!-- Bootstrap -->

</head>
<body>
<div class="main-content container-fluid" layout:fragment="content">
    <div class="container"> <br><br><br><br><br><br>
        <h1>Gestión de Inventario</h1>

        <!-- Botón para exportar reporte en PDF -->
        <form action="/inventario/exportar" method="get">
            <button type="submit" class="btn btn-primary mb-3">
                Generar Reporte PDF
            </button>
        </form>

        <!-- Formulario de búsqueda -->
        <form action="/inventario/buscar" method="get" class="mb-3">
            <input type="text" name="nombreProducto" placeholder="Buscar por nombre del producto" class="form-control d-inline-block" style="width: 300px;">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <!-- Mostrar los inventarios con productos -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID Inventario</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Total</th>
                <th>Fecha</th> <!-- Nueva columna para la fecha -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="inventario : ${inventarios}">
                <td th:text="${inventario.idInventario}"></td> <!-- ID del inventario -->
                <td th:text="${inventario.producto.nombre}"></td> <!-- Nombre del producto -->
                <td th:text="${inventario.cantidad}"></td> <!-- Cantidad en inventario -->
                <td th:text="${inventario.precio}"></td> <!-- Precio del producto -->
                <td th:text="${inventario.estado}"></td> <!-- Estado del inventario -->
                <td th:text="${inventario.cantidad * inventario.precio}"></td> <!-- Total del inventario -->
                <td th:text="${inventario.fecha}"></td> <!-- Fecha del inventario -->
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>